
<%- include("partials/header") %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHByb2R1Y3Rpdml0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            
             
        }
      .item{
        font-family: 'Neucha', serif;
        font-size: 24px;
        /* background: url('https://images.unsplash.com/photo-1586024844218-3fb8999ef6cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
      }
      .ui.main{
        background-color: rgba(226, 212, 212,0.4);

      }
      </style>

<div class="container" style="align-content: center;">
    <h1 style="text-align: center;">Create a new Achievement</h1>
    <br>
    <div class="ui main text container segment" style="width: 70%; align-items: flex-end;">
            <div class="ui form">
                <div class="field">
                    <label> Select USN</label>
                    <div class="ui simple selection dropdown">
                        <input type="hidden" name="retrievedusn" placeholder="Select USN">
                        <i class="dropdown icon"></i>
                                <div class="menu">
                                    <% arr.forEach(stud => { %>
                                        <a href="/recruiter/<%=stud%>"><option class="item" data-value="<%=stud%>" value="<%=stud%>"><%=stud%></option></a>
                                    <% });%>
                                </div>
                    </div>
                    <!-- <button type="submit" class="ui secondary button">Submit</button>  -->
                </div>
            </div>
    </div>
</div>

<%- include("partials/footer") %>