<%- include("partials/header") %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHByb2R1Y3Rpdml0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            font-family: 'Neucha', serif;
        font-size: 24px;
            
             
        }
      .item{
        font-family: 'Neucha', serif;
        font-size: 24px;
        background: url('https://images.unsplash.com/photo-1586024844218-3fb8999ef6cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
      }
      .ui.main.text{
        background-color: rgba(226, 212, 212,0.4);

      }
      #below{

        font-family: 'Neucha', serif;
        font-size: 24px;
      }
      h3{
        font-family: 'Neucha', serif;
        font-size: 24px;
      }
      h4{
        font-family: 'Neucha', serif;
        font-size: 24px;
      }
      </style>
        </div>
        <div id="below navbar">

        
            <div class="ui main text container segment">
                <br>
              
                    
                    <h3>Student Details:</h3>
                    <h4>USN: <%=user.userid%></h4>
                   
                    <h4>Name:<%=user.username%></h4>
                        <div class="ui top-attached">
                            <div class="item">
                                <ol>
                                        <% achs.forEach(ach => { %> 
                                        <li><div class="content">
                                            <p>Type: <%= ach.achtype %></p>
                                        </div>
                                        <div class="desciption">
                                            <p>Description: <%= ach.desc %></p>
                                        </div>
                                        <div class="content">
                                            <a href="<%=ach.link%>">Link to Drive folder</a>
                                        </div>
                                        
                                        
                                        </li>
                                        <br>
                                        <br>
                                        <% }); %>
                                </ol>
                            </div>
                        </div>
                    <a class="ui secondary button" onclick="window.print()" style="margin: 10px 0;">Generate Report</a> 
                </div>






            <%- include("partials/footer") %>