
<%- include("partials/header") %>
<style>
  body{
      background: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fHdvcmt8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
      background-repeat: no-repeat;
      background-size: cover;
  }

  label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    font-weight: 100;
  }

  .ui.main.text{
    background-color: rgba(180, 180, 180, 0.3);
  }

  .ui.huge.header{
       color:black;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:x-large;
       font-weight:100;
       font-style:oblique;
   }

   a{
     color: black;
   }
</style>
<div class="container" style="align-content: center;">
    <h1 style="text-align: center;">Create a new Achievement</h1>
    <div class="ui main text container segment" style="width: 70%; align-items: flex-end;">
        <div class="ui huge header">New Achievement</div>
        <form class="ui form" action="/student/<%=id%>/new" method="POST">
                <div class="ui form">
                    <div class="field">
                        <label>USN</label>
                        <input type="text" disabled name="ach[userid]" class="form-control"  value="<%=id%>">
                    </div>
                    <div class="grouped fields">
                    <label>Type:</label>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" checked="checked" value="Internship">
                          <label>Internship</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" value="Project">
                          <label>Project</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" value="Course">
                          <label>Course</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" value="Technical Paper">
                          <label>Technical Paper</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" value="Sports">
                          <label>Sports</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="ach[achtype]" value="Co-curricular">
                          <label>Co-curricular</label>
                        </div>
                      </div>
                    </div>
                  </div>
            <div class="field">
                <label>Drive Link</label>
                <input type="text" name="ach[link]" class="form-control" placeholder="Link to Drive">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="ach[desc]" id="" cols="30" rows="5" placeholder="Description to the Achievement" required></textarea>
            </div>
            <button type="submit" class="ui secondary button">Submit</button> 
        </form>

        <a href="/student/<%=id%>">Go back</a>
    </div>
</div>

<%- include("partials/footer") %>