<%- include("partials/header") %>
<style>
    body{
        background: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8ZWR1Y2F0aW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    .ui.simple.selection{
        background-color:white;
    }    

    .ui.main.text{
        background-color: rgba(211, 216, 197, 0.5);
    }

    label{
      color: white;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:x-large;

    }

    a{
        color: black;
    }
</style>
        </div>
        <div id="below navbar">

            <h1>hidden lol</h1>
            <div class="ui main text container segment">
                    <div class="ui huge header" style="text-align: center;">
                        Student Achievement App
                    </div>
                    <h2>Student Details:</h2>
                    <%=user.userid%>
                    <br>
                    <%=user.username%>
                        <div class="ui top-attached">
                            <div class="item">
                                <ol>
                                        <% achs.forEach(ach => { %> 
                                        <li><div class="content">
                                            <p>Type: <%= ach.achtype %></p>
                                        </div>
                                        <div class="desciption">
                                            <p>Description: <%= ach.desc %></p>
                                        </div>
                                        <div class="content">
                                            <a href="<%=ach.link%>">Link to Drive folder</a>
                                        </div>
                                        
                                        
                                        </li>
                                        <br>
                                        <br>
                                        <% }); %>
                                </ol>
                            </div>
                        </div>
                    <a class="ui secondary button" onclick="window.print()" style="margin: 10px 0;">Generate Report</a> 
                </div>






            <%- include("partials/footer") %>