
<%- include("partials/header") %>
[12:47, 30/12/2020] Sai Keerthana: <style>
    body{
        background: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8ZWR1Y2F0aW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    .ui.simple.selection{
        background-color:white;
    }    

    .ui.main.text{
        background-color: rgba(211, 216, 197, 0.5);
    }

    label{
      color: white;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:x-large;

    }

    a{
        color: black;
    }
</style>
<div class="container" style="align-content: center;">
    <h1 style="text-align: center;"></h1>
    <br>
    <div class="ui main text container segment" style="width: 70%; align-items: flex-end;">
        <form class="login100-form validate-form"  action="/teacherLand" method="POST">
            <div class="ui form">
                <div class="field">
                    <label> Select USN</label>
                    <div class="ui simple selection dropdown">
                        <input type="hidden" name="retrievedusn" placeholder="Select USN">
                        <i class="dropdown icon"></i>
                                <div class="menu">
                                    <% arr.forEach(stud => { %>
                                        <a href="/student/<%=stud%>"><option class="item" data-value="<%=stud%>" value="<%=stud%>"><%=stud%></option></a>
                                    <% });%>
                                </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="ui form">
                <div class="field">
                    <label> Select Achievement</label>
                    <div class="ui simple selection dropdown">
                        <input type="hidden" name="retrievedusn" placeholder="Select USN">
                        <i class="dropdown icon"></i>
                                <div class="menu">                                   
                                    <% acharr.forEach(ach => { %>
                                        <a href="/teacherachievement/<%=ach%>"><option class="item" data-value="<%=ach%>" value="<%=ach%>"><%=ach%></option></a>
                                    <% });%>
                                </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
           <div class="col-lg-4 mb-4">
                <div class="card">
                   
                    <div class="card-body">
                        <h5 class="card-title">Water-Energy IBM Project</h5>
                        <p class="card-text"><b>Students involved <% arr.forEach(stud => { %>
                            <a href="/student/<%=stud%>"><option class="item" data-value="<%=stud%>" value="<%=stud%>"><%=stud%></option></a>
                        <% });%></b></p>
                        <a href="https://docs.google.com/document/d/1r6pIGY6HhwCU8KaRc3XOYqdkk5kUEHDqp_5hKxH2wwA/edit" class="btn btn-outline-success btn-sm">See Progress</a>
              
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="imgs/pattern2.jpeg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">IEEE Paper on Machine Learning</h5>
                        <p class="card-text">Students involved Project</h5>
                            <p class="card-text"><b>Students involved <% arr.forEach(stud => { %>
                                <a href="/student/<%=stud%>"><option class="item" data-value="<%=stud%>" value="<%=stud%>"><%=stud%></option></a>
                            <% });%>
                          </b>  </p>
                        <a href="https://docs.google.com/document/d/1r6pIGY6HhwCU8KaRc3XOYqdkk5kUEHDqp_5hKxH2wwA/edit" class="btn btn-outline-success btn-sm">See Progress</a>
                       
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>

<%- include("partials/footer") %>