
<%- include("partials/teacherheader") %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url('https://images.unsplash.com/photo-1561653109-a66b52917e88?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHllbGxvdyUyMHBhaW50c3xlbnwwfHwwfHllbGxvd3w%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
             
        }
      .item{
        font-family: 'Neucha', serif;
        font-size: 24px;
        /* background: url('https://images.unsplash.com/photo-1586024844218-3fb8999ef6cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
      }
      .ui.main{
        background-color: rgba(226, 212, 212,0.4);

      }
      label{
        font-family: 'Neucha', serif;
        font-size: 24px;
      }
      </style>
<div class="container" style="align-content: center;">
    <br>
    <br>
    <br>
    <div class="ui main text container segment" style="width: 70%; align-items: flex-end;">
        <form class="login100-form validate-form"  action="/teacherLand" method="POST">
            <div class="ui form">
                <div class="field">
                    <label> Select USN</label>
                    <div class="ui simple selection dropdown">
                        <input type="hidden" name="retrievedusn" placeholder="Select USN">
                        <i class="dropdown icon"></i>
                                <div class="menu">
                                    <% arr.forEach(stud => { %>
                                        <a href="/student/<%=stud%>"><option class="item" data-value="<%=stud%>" value="<%=stud%>"><%=stud%></option></a>
                                    <% });%>
                                </div>
                    </div>
                    <!-- <button type="submit" class="ui secondary button">Submit</button>  -->
                </div>
                <iframe src='https://webchat.botframework.com/embed/webtechapp?s=niFL7tLrqgA.9VBnyN0ncs9j1XuvYweUcpRUSnIIias2jOx_DlcsM6s'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
            </div>
        </form> 
    </div>
</div>

<%- include("partials/footer") %>